---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}
<!-- {{site.url}}/assets/img/posts/python.jpg -->
    <div class="hero lazyload" data-bg="https://images.idgesg.net/images/article/2017/08/python-100732474-orig.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">Python</h1>
        <p class="hero__meta">Python is powerful... and fast!</p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% if post.category == 'Python' %}
                {% include card.html %}
              {% endif %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
